h1, h2, h3, h4,
p {
  margin: 0;
}

#root-child {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.bold-font {
  font-weight: 700;
}

.main {
  display: flex;
  justify-content: center;
  background-color: white;
}

.container-xl {
  display: grid;
  grid-template-columns: 20em 1fr;
  width: 100%;
  max-width: 1280px;
}

.nav {
  /* background-color: rgb(245, 245, 245); */
}

.nav p {
  margin: 1em 0 0.5em 1em;
}

.search-container {
  /* background-color: beige; */
  margin: 0.5em 1em 1em 1em;
}

input[type=text] {
  margin: 0;
  padding: 0.25em;
  width: 75%;
  text-decoration: none;

  border-width: 1px;
  border-style: solid none solid solid;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;

  border-color: #282c34;
}

input[type=submit] {
  margin: 0;
  padding: 0.25em;
  width: 21%;
  text-decoration: none;

  border-width: 1px;
  border-style: solid;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

  border-color: #282c34;

  background-color: hsl(219, 70%, 96%);
  color: hsl(217, 71%, 45%);
}

input[type=submit]:hover {
  background-color: hsl(219, 100%, 93%);
}

.units {
  padding: 0.25em 1em;
  margin-top: 0.75em;
  border: 1px solid #007765;
  border-radius: 0.5em;

  background-color: #ebfffc;
  color: #007765;;
}

.units:hover {
  background-color: #d1fff8;
}

.history-container {
  height: auto;
  margin: 0em 1.00em;
}

.history-container button {
  border: none;
  border-radius: 1.5em;
  margin: 0.125em 0.25em 0.125em 0;
  padding: 0.25em .75em;
  background-color: hsl(219, 70%, 96%);
  color: hsl(217, 71%, 45%);
}

.history-container button:hover {
  background-color: hsl(219, 100%, 93%);
}

.info {
  padding: 1em;
}

.current {
  border: 2px solid rgb(245, 245, 245);
  border-radius: 1em;
  padding: 5em 0 5em 1em;
}

.current p {
  color: #FFF;
  text-shadow: 0 0 2px #000000, 0 0 4px #000000, 0 0 8px #000000;
  font-size: large;
  font-weight: 500;
  padding: 0.25em 0;
}

.current h1 {
  color: #FFF;
  text-shadow: 0 0 2px #000000, 0 0 4px #000000, 0 0 8px #000000;
}

.info h2 {
  padding: 1em 0 0.25em 0;
}

.forecast {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
}

/* UV Color Coding */
.uv-block {
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  padding: 4px;
  min-width: 40px;
}

.UV-low {
  background-color: rgb(67,185,30)
}

.UV-medium {
  background-color: rgb(252,199,33)
}

.UV-high {
  background-color: rgb(251,116,27)
}

.UV-extreme {
  background-color: rgb(248,17,22)
}

.UV-indeterminate {
  background-color: rgb(134,111,255)
}

/* Current Weather background images */
.clear_sky {
  background-image:    url(./assets/clear_sky.jpeg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.few_clouds {
  background-image:    url(./assets/few_clouds.jpeg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.scattered_clouds {
  background-image:    url(./assets/scattered_clouds.jpeg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.broken_clouds {
  background-image:    url(./assets/broken_clouds.jpeg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.shower_rain {
  background-image:    url(./assets/light_rain.jpeg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.rain {
  background-image:    url(./assets/rain.jpeg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.thunderstorm {
  background-image:    url(./assets/thunderstorm.jpeg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.snow {
  background-image:    url(./assets/snow.jpeg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.mist {
  background-image:    url(./assets/mist.jpeg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.loading {
  background-image:    url(./assets/loading.gif);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}