h1, h2, h3, h4,
p {
  margin: 0;
}

#root-child {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.main {
  display: grid;
  grid-template-columns: 20em 1fr;
  background-color: white;
}

.left-col {
  background-color: rgb(245, 245, 245);
}

.search-container {
  background-color: beige;
  margin: 1.00em;
}

.history-container {
  background-color: beige;
  height: 100%;
  margin: 0em 1.00em;
}